[submodule "rmf/menge_vendor"]
	path = rmf/menge_vendor
	url = https://github.com/open-rmf/menge_vendor
[submodule "free_fleet"]
	path = free_fleet
	url = https://github.com/open-rmf/free_fleet
[submodule "rmf/rmf_battery"]
	path = rmf/rmf_battery
	url = https://github.com/open-rmf/rmf_battery
[submodule "rmf/rmf_task"]
	path = rmf/rmf_task
	url = https://github.com/open-rmf/rmf_task
[submodule "rmf/rmf_traffic"]
	path = rmf/rmf_traffic
	url = https://github.com/open-rmf/rmf_traffic
[submodule "rmf/rmf_utils"]
	path = rmf/rmf_utils
	url = https://github.com/open-rmf/rmf_utils
[submodule "rmf/rmf_internal_msgs"]
	path = rmf/rmf_internal_msgs
	url = https://github.com/open-rmf/rmf_internal_msgs
[submodule "rmf/rmf_ros2"]
	path = rmf/rmf_ros2
	url = https://github.com/open-rmf/rmf_ros2
[submodule "rmf/rmf_visualization"]
	path = rmf/rmf_visualization
	url = https://github.com/open-rmf/rmf_visualization
[submodule "rmf/rmf_visualization_msgs"]
	path = rmf/rmf_visualization_msgs
	url = https://github.com/open-rmf/rmf_visualization_msgs
[submodule "rmf/rmf_traffic_editor"]
	path = rmf/rmf_traffic_editor
	url = https://github.com/open-rmf/rmf_traffic_editor
[submodule "rmf/rmf_building_map_msgs"]
	path = rmf/rmf_building_map_msgs
	url = https://github.com/open-rmf/rmf_building_map_msgs
[submodule "rmf/rmf_cmake_uncrustify"]
	path = rmf/rmf_cmake_uncrustify
	url = https://github.com/open-rmf/rmf_cmake_uncrustify
[submodule "rmf/ament_cmake_catch2"]
	path = rmf/ament_cmake_catch2
	url = https://github.com/open-rmf/ament_cmake_catch2
[submodule "rmf/rmf_simulation"]
	path = rmf/rmf_simulation
	url = https://github.com/open-rmf/rmf_simulation
